#calculator {
	width: 300px;
	margin: 10% auto;
	padding: 20px;
	background: #DBDBDB;
	background: linear-gradient(#DBDBDB, #9F9F9F);
	background: -o-linear-gradient(#DBDBDB, #9F9F9F);
	background: -moz-linear-gradient(#DBDBDB, #9F9F9F);
	background: -webkit-linear-gradient(#DBDBDB, #9F9F9F);
	border: 5px solid #AEAEAE;
	border-radius: 20px;
}

p {
	text-align: center;
}

#display {
	position: relative;
	height: 40px;
	background: #E7F6CF;
	background: linear-gradient(#E7F6CF, #D6E5C0);
	background: -o-linear-gradient(#E7F6CF, #D6E5C0);
	background: -moz-linear-gradient(#E7F6CF, #D6E5C0);
	background: -webkit-linear-gradient(#E7F6CF, #D6E5C0);
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 6px 20px 6px;
}

#output {
	position: absolute;
	right: 5px;
	font-size: 30px;
	line-height: 40px;
	width: 270px;
  text-align: right;
  overflow-x: hidden;
}

#buttons {
	position: relative;
}

button {
	font-size: 20px;
	width: 60px;
	height: 60px;
	margin: 6px;
	border: 1px solid black;
	border-radius: 4px;
	background: #fff;
}

.btn-wide {
	width: 136px !important;
}

.btn-tall {
	position: absolute;
	height: 132px;
	bottom: 0;
	right: 0;
}